/* defined variables */
:root {
  --txt1: hsl(0, 0%, 0%);
  --txt2: hsl(0, 0%, 100%);
  --deco: #6f2190;
  --box: #dbbbe9;
}

/* default font */
body {
  font-family: sans-serif;
}

/* displays view highscore button and timer */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 20px;
}

/* all button styles */
button {
  background-color: var(--deco);
  color: var(--txt2);
  padding: 10px;
  margin-top: 25px;
  border-color: var(--txt2);
  border-radius: 10px;
}

/* lighten button on hover */
button:hover {
  opacity: 75%;
}

/* view highscore page style */
#viewHighscores {
  color: var(--deco);
  background-color: white;
  border: none;
  padding: 0px;
  margin: 0px;
  display: block;
}

/* style of all the pages  */
main {
  width: 50%;
  padding: 40px;
  margin: 0 auto;
  text-align: left;
}

#titlePage {
  text-align: center;
}

h2 {
  font-size: 35px;
  padding: 30px;
}

h3, h4, h6 {
  font-size: 28px;
  padding-bottom: 20px;
}

/* remove the left pullet points from the option buttons */
ul {
  list-style: none;
}

/* spacing between the buttons */
ul button{
  margin: 1.5px;
  font-size: 15px;
  display: block;
}

/* answer check below the question section */
#notification {
  border-top: 5px solid rgb(189, 189, 189);
  color:rgb(189, 189, 189);
  padding-top: 10px;
  margin-top: 25px;
  font-size: 18px;
  font-style: italic;
}

/* initials form */
form {
  font-weight: bold;
  padding-top: 25px;
}

#initials {
  padding: 5px;
  border-radius: 5px;
}

/* highscore list - align two columns side by side */
#initialsList {
  text-align: left;
  float: left;
}

#highscoresList {
  text-align: right;
}

#highscoresPage ul li {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--box);
}

/* alternate the background and text color of every other row in the highscore list */
#highscoresPage ul li:nth-child(odd) { 
  background: var(--deco); 
  color: var(--txt2);
}

/* clear float */
#highscoresList:after {
  content: "";
  display: block;
  clear: both;
}