/* defined variables */
:root {
  --txt1: hsl(0, 0%, 0%);
  --txt2: hsl(0, 0%, 100%);
  --deco: #6f2190;
  --box: #dbbbe9;
}

/* page background and default font */
body {
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 20px;
}

button {
  background-color: var(--deco);
  color: var(--txt2);
  padding: 10px;
  margin-top: 25px;
  border-color: var(--txt2);
  border-radius: 10px;
}

button:hover {
  opacity: 75%;
}

/* includes the h1 element */
#viewHighscores {
  color: var(--deco);
  background-color: white;
  border: none;
  padding: 0px;
  margin: 0px;
  display: block;
}

header p {
  color: var(--txt1);
}

/* main section of the page */
main {
  width: 50%;
  padding: 40px;
  margin: 0 auto;
  text-align: left;
}

#titlePage {
  text-align: center;
}

h2 {
  font-size: 35px;
  padding: 30px;
}

h3, h4, h6 {
  font-size: 28px;
  padding-bottom: 20px;
}

ul {
  list-style: none;
}

ul button{
  margin: 1.5px;
  font-size: 15px;
  display: block;
}

form {
  font-weight: bold;
  padding-top: 25px;
}

#initials {
  padding: 5px;
  border-radius: 5px;
}

#initialsList {
  text-align: left;
  float: left;
}

#highscoresList {
  text-align: right;
}

#highscoresPage ul li {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--box);
}

#highscoresPage ul li:nth-child(odd) { 
  background: var(--deco); 
  color: var(--txt2);
}

#highscoresList:after {
  content: "";
  display: block;
  clear: both;
}

#notification {
  border-top: 5px solid rgb(189, 189, 189);
  color:rgb(189, 189, 189);
  padding-top: 10px;
  margin-top: 25px;
  font-size: 18px;
  font-style: italic;
}